<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Home - Sikthaugen</title>

    <!-- Bootstrap CSS CDN -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link href="bootstrap/css/bootstrap.min-3.3.7.css" rel="stylesheet">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/pls_bibliotek.css">
    <script src="js/Charts.js"></script>
    <script src="jquery/jquery.js"></script>
</head>
<body>



<!--<div class="wrapper">-->

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Device - A01</a>
                </div>


                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a th:href="@{/index}">Home</a></li>
                        <li class="nav-item"><a th:href="@{/device}">Device</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="mainContent">

            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-center"> A01 - Weather Station</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-centered panel panel-default">
                    <div class="line"></div>
                        <div class="text-center"><!--role="group" aria-label="Basic example"-->
                            <button class="btn btn-secondary" id="btnDataDay" type="button" onclick="dataDay()">Day</button>
                            <button class="btn btn-secondary" id="btnDataWeek" type="button" onclick="dataWeek()">Week</button>
                            <button class="btn btn-secondary" id="btnDataMonth" type="button" onclick="dataMonth()">Month</button>
                            <button class="btn btn-secondary" id="btnDataYear" type="button" onclick="dataYear()">Year</button>
                        </div>
                     <div class="line"></div>
                    <div id="A01Graph"></div>
                </div>
            </div>

        <!--<div class="col-lg-4 panel panel-default">
            <h4 class="text-center"> PLS Bibliotek</h4>
            <div class="line"></div>
            <canvas id="plsLibraryGraph" width="500" height="500" style="-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none"></canvas>
        </div>
            <div class="col-lg-4 panel panel-default">
                <h4 class="text-center">Citect</h4>
                <div class="line"></div>
                <canvas id="citectGraph" width="500" height="500" style="-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none"></canvas>
            </div>
            <div class="col-lg-6 my-3">
            </div>-->
        </div>
    </div>
<!--</div>-->

<style>
    .col-centered{
    float: none;
    margin: 0 auto;
}
</style>


<script>
    function openFBDocument(link){
    console.log(link);
    $("#mainContent").load(link);
    }
</script>

<!-- START -- Day graph, A01 -->
<script>
	$(document).ready(function(){
	    dataDay();
	});

	function dataDay(){
	$.ajax({
		url: "/A01/dataDay",
		method: "GET",
		success: function(data) {
		    var time = [];
			var temperature = [];
			var pressure = [];
			var humidity = [];

		for(var i = 0; i < data.length; i++){
		    var obj = JSON.parse(data[i]);
		    temperature[i] = obj.temp;
            pressure[i] = obj.pressure/100.0;
            humidity[i] = obj.humidity;
            time[i] = obj.timestamp.substring(5,16);
		}
	var color = Chart.helpers.color;
			var chartdata = {
				labels: time,
				datasets: [{
					label: "Temperature",
					//backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
					backgroundColor: 'rgba(255,0,0,1)',
					borderColor: 'rgba(255,0,0,1)',
					fill: false,
					data: temperature
				}, {
					label: "Humidity",
					//backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
					backgroundColor: 'rgba(0,0,255,1)',
					borderColor: 'rgba(0,0,255,1)',
					fill: false,
					data: humidity
				}, {
					label: "Pressure(x10^2)",
					//backgroundColor: color(window.chartColors.purple).alpha(0.5).rgbString(),
					backgroundColor: 'rgba(0,255,0,1)',
					borderColor: 'rgba(0,255,0,1)',
					fill: false,
					data: pressure
				},

				]
			};

		    $('#A01Graph').empty();
		    $('#A01Graph').html('<canvas id="A01GraphCanvas" height="500" width="500" style="-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none"></canvas>');
			var ctx = $("#A01GraphCanvas");
            document.getElementById("btnDataDay").style.backgroundColor = '#90EE90';    //green
            document.getElementById("btnDataWeek").style.backgroundColor = '#D3D3D3';   //gray
            document.getElementById("btnDataMonth").style.backgroundColor = '#D3D3D3';  //gray
            document.getElementById("btnDataYear").style.backgroundColor = '#D3D3D3';   //gray
			var barGraph = new Chart(ctx, {
				type: 'line',
				data: chartdata,
				options: {
					title:{
						display:true,
						text:"Day"
					}

				}
			});
		},
		error: function(data) {
			console.log(data);
		}
	});
};
</script>
<!-- END -- Day graph, A01 -->

<!-- START -- Week graph, A01 -->
<script>
	function dataWeek(){
	$.ajax({
		url: "/A01/dataWeek",
		method: "GET",
		success: function(data) {
		    var time = [];
			var temperature = [];
			var pressure = [];
			var humidity = [];

		for(var i = 0; i < data.length; i++){
		    var obj = JSON.parse(data[i]);
		    temperature[i] = obj.temp;
            pressure[i] = obj.pressure/100.0;
            humidity[i] = obj.humidity;
            time[i] = obj.timestamp.substring(0,16);
		}
	var color = Chart.helpers.color;
			var chartdata = {
				labels: time,
				datasets: [{
					label: "Temperature",
					//backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
					backgroundColor: 'rgba(255,0,0,1)',
					borderColor: 'rgba(255,0,0,1)',
					fill: false,
					data: temperature
				}, {
					label: "Humidity",
					//backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
					backgroundColor: 'rgba(0,0,255,1)',
					borderColor: 'rgba(0,0,255,1)',
					fill: false,
					data: humidity
				}, {
					label: "Pressure(x10^2)",
					//backgroundColor: color(window.chartColors.purple).alpha(0.5).rgbString(),
					backgroundColor: 'rgba(0,255,0,1)',
					borderColor: 'rgba(0,255,0,1)',
					fill: false,
					data: pressure
				},

				]
			};

            $('#A01Graph').empty();
		    $('#A01Graph').html('<canvas id="A01GraphCanvas" height="500" width="500" style="-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none"></canvas>');
			var ctx = $("#A01GraphCanvas");
            document.getElementById("btnDataDay").style.backgroundColor = '#D3D3D3';    //gray
            document.getElementById("btnDataWeek").style.backgroundColor = '#90EE90';   //green
            document.getElementById("btnDataMonth").style.backgroundColor = '#D3D3D3';  //gray
            document.getElementById("btnDataYear").style.backgroundColor = '#D3D3D3';   //gray
			var barGraph = new Chart(ctx, {
				type: 'line',
				data: chartdata,
				options: {
					title:{
						display:true,
						text:"Week"
					}

				}
			});
		},
		error: function(data) {
			console.log(data);
		}
	});
};
</script>
<!-- END -- Week graph, A01 -->

<!-- START -- Month graph, A01 -->
<script>
	function dataMonth(){
	$.ajax({
		url: "/A01/dataMonth",
		method: "GET",
		success: function(data) {
		    var time = [];
			var temperature = [];
			var pressure = [];
			var humidity = [];

		for(var i = 0; i < data.length; i++){
		    var obj = JSON.parse(data[i]);
		    temperature[i] = obj.temp;
            pressure[i] = obj.pressure/100.0;
            humidity[i] = obj.humidity;
            time[i] = obj.timestamp.substring(0,16);
		}
	var color = Chart.helpers.color;
			var chartdata = {
				labels: time,
				datasets: [{
					label: "Temperature",
					//backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
					backgroundColor: 'rgba(255,0,0,1)',
					borderColor: 'rgba(255,0,0,1)',
					fill: false,
					data: temperature
				}, {
					label: "Humidity",
					//backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
					backgroundColor: 'rgba(0,0,255,1)',
					borderColor: 'rgba(0,0,255,1)',
					fill: false,
					data: humidity
				}, {
					label: "Pressure(x10^2)",
					//backgroundColor: color(window.chartColors.purple).alpha(0.5).rgbString(),
					backgroundColor: 'rgba(0,255,0,1)',
					borderColor: 'rgba(0,255,0,1)',
					fill: false,
					data: pressure
				},

				]
			};

            $('#A01Graph').empty();
		    $('#A01Graph').html('<canvas id="A01GraphCanvas" height="500" width="500" style="-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none"></canvas>');
			var ctx = $("#A01GraphCanvas");
            document.getElementById("btnDataDay").style.backgroundColor = '#D3D3D3';    //gray
            document.getElementById("btnDataWeek").style.backgroundColor = '#D3D3D3';   //gray
            document.getElementById("btnDataMonth").style.backgroundColor = '#90EE90';  //green
            document.getElementById("btnDataYear").style.backgroundColor = '#D3D3D3';   //gray
			var barGraph = new Chart(ctx, {
				type: 'line',
				data: chartdata,
				options: {
					title:{
						display:true,
						text:"Month"
					}

				}
			});
		},
		error: function(data) {
			console.log(data);
		}
	});
};
</script>
<!-- END -- Month graph, A01 -->

<!-- START -- Year graph, A01 -->
<script>
	function dataYear(){
	$.ajax({
		url: "/A01/dataYear",
		method: "GET",
		success: function(data) {

		    var time = [];
			var temperature = [];
			var pressure = [];
			var humidity = [];

		for(var i = 0; i < data.length; i++){
		    var obj = JSON.parse(data[i]);
		    temperature[i] = obj.temp;
            pressure[i] = obj.pressure/100.0;
            humidity[i] = obj.humidity;
            time[i] = obj.timestamp.substring(0,16);
		}
	var color = Chart.helpers.color;
			var chartdata = {
				labels: time,
				datasets: [{
					label: "Temperature",
					//backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
					backgroundColor: 'rgba(255,0,0,1)',
					borderColor: 'rgba(255,0,0,1)',
					fill: false,
					data: temperature
				}, {
					label: "Humidity",
					//backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
					backgroundColor: 'rgba(0,0,255,1)',
					borderColor: 'rgba(0,0,255,1)',
					fill: false,
					data: humidity
				}, {
					label: "Pressure(x10^2)",
					//backgroundColor: color(window.chartColors.purple).alpha(0.5).rgbString(),
					backgroundColor: 'rgba(0,255,0,1)',
					borderColor: 'rgba(0,255,0,1)',
					fill: false,
					data: pressure
				},

				]
			};

            $('#A01Graph').empty();
		    $('#A01Graph').html('<canvas id="A01GraphCanvas" height="500" width="500" style="-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none"></canvas>');
			var ctx = $("#A01GraphCanvas");
            document.getElementById("btnDataDay").style.backgroundColor = '#D3D3D3';    //gray
            document.getElementById("btnDataWeek").style.backgroundColor = '#D3D3D3';   //gray
            document.getElementById("btnDataMonth").style.backgroundColor = '#D3D3D3'; //gray
            document.getElementById("btnDataYear").style.backgroundColor = '#90EE90';   //green
			var barGraph = new Chart(ctx, {
				type: 'line',
				data: chartdata,
				options: {
					title:{
						display:true,
						text:"Year"
					}

				}
			});
		},
		error: function(data) {
			console.log(data);
		}
	});
};
</script>
<!-- END -- Year graph, A01 -->




<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                     $(this).toggleClass('active');
                 });
             });
         </script>
</body>
</html>
