<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Home - Sikthaugen</title>

    <!-- Bootstrap CSS CDN -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link href="bootstrap/css/bootstrap.min-3.3.7.css" rel="stylesheet">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/pls_bibliotek.css">
    <script src="js/Charts.js"></script>
    <script src="jquery/jquery.js"></script>
</head>
<body>



<!--<div class="wrapper">-->

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Home</a>
                </div>


                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item active"><a th:href="@{/index}">Home</a></li>
                        <li class="nav-item"><a th:href="@{/device}">Device</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="mainContent">
            <div class="row">
                 <div class="col-lg-6 panel panel-default">
                     <div class="embed-responsive embed-responsive-16by9">
                     <iframe src="https://calendar.google.com/calendar/embed?src=vegardrognee%40gmail.com&ctz=Europe%2FOslo" style="border: 0" width="500" height="500" frameborder="0" scrolling="no"></iframe>
                     </div>
                 </div>
                <div class="col-lg-6 panel panel-default">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://calendar.google.com/calendar/embed?src=vegardrognee%40gmail.com&ctz=Europe%2FOslo"></iframe>
                    </div>
                </div>
            </div>
            <!--
            <div class="col-lg-4 panel panel-default">
                <h4 class="text-center">Citect</h4>
                <div class="line"></div>
                <canvas id="citectGraph" width="500" height="500" style="-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none"></canvas>
            </div>
            <div class="col-lg-6 my-3">
            </div>-->
        </div>
    </div>
<!--</div>-->


<script>
    function openFBDocument(link){
    console.log(link);
    $("#mainContent").load(link);
    }
</script>

<!-- START -- Week graph, Amount of tags produced Citect -->
<script>
	$(document).ready(function(){
	$.ajax({
		url: "/index/SQLCitectWeek",
		method: "GET",
		success: function(data) {
		    var time = [];
			var variable = [];
			var advalm = [];
			var trend = [];
			console.log(data.length);
		for(var i = 0; i < data.length; i++){
		    var obj = JSON.parse(data[i]);
		    variable[i] = obj.variable;
            advalm[i] = obj.advalm;
            trend[i] = obj.trend;
            time[i] = obj.timestamp.substring(0,10);
		}
	var color = Chart.helpers.color;
			var chartdata = {
				labels: time,
				datasets: [{
					label: "Variable",
					//backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
					backgroundColor: 'rgba(255,0,0,1)',
					borderColor: 'rgba(255,0,0,1)',
					fill: false,
					data: variable
				}, {
					label: "Advalm",
					//backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
					backgroundColor: 'rgba(0,0,255,1)',
					borderColor: 'rgba(0,0,255,1)',
					fill: false,
					data: advalm
				}, {
					label: "Trend",
					//backgroundColor: color(window.chartColors.purple).alpha(0.5).rgbString(),
					backgroundColor: 'rgba(0,255,0,1)',
					borderColor: 'rgba(0,255,0,1)',
					fill: false,
					data: trend
				},

				]
			};

			var ctx = $("#citectGraph");

			var barGraph = new Chart(ctx, {
				type: 'line',
				data: chartdata,
				options: {
					title:{
						display:true,
						text:"Antall tags produsert (Uke)"
					}

				}
			});
		},
		error: function(data) {
			console.log(data);
		}
	});
});
</script>
<!-- END -- Week graph, Amount of tags produced Citect -->

<!-- START --  Week graph, Amount of functionblocks downloaded -->
<script>
	$(document).ready(function(){
	$.ajax({
		url: "/index/SQLSchneiderWeek",
		method: "GET",
		success: function(data) {
		    var time = [];
            var schneiderFB = [];
			console.log(data.length);
		for(var i = 0; i < data.length; i++){
		    var obj = JSON.parse(data[i]);
		    schneiderFB[i] = obj.fb;
            time[i] = obj.timestamp.substring(0,10);
		}
	var color = Chart.helpers.color;
			var chartdata = {
				labels: time,
				datasets: [{
					label: "Schneider",
					//backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
					backgroundColor: 'rgba(255,0,0,1)',
					borderColor: 'rgba(255,0,0,1)',
					fill: false,
					data: schneiderFB
				} ,

				]
			};

			var ctx = $("#plsLibraryGraph");

			var barGraph = new Chart(ctx, {
				type: 'line',
				data: chartdata,
				options: {
					title:{
						display:true,
						text:"Antall funksjonsblokker nedlastet (Uke)"
					}

				}
			});
		},
		error: function(data) {
			console.log(data);
		}
	});
});
</script>
<!-- END -- Week graph, Amount of functionblocks downloaded -->


<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                     $(this).toggleClass('active');
                 });
             });
         </script>
</body>
</html>
