<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Home - Sikthaugen</title>

    <!-- Bootstrap CSS CDN -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link href="bootstrap/css/bootstrap.min-3.3.7.css" rel="stylesheet">

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/home.css">
    <script src="jquery/jquery.js"></script>
    <script src="js/server.js"></script>
</head>
<body>



<!--<div class="wrapper">-->

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Home - Server <div id="version"></div></a>

                </div>


                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li class="nav-item"><a onclick="openDocument('Pages/mainPage.html')">Home</a></li>
                        <li class="nav-item"><a onclick="openDocument('Pages/device.html')">Device</a></li>-->
                        <li class="nav-item">
                            <button class="btn btn-secondary" type="button" onclick="openDocument('Pages/mainPage.html')">Home</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-secondary" type="button" onclick="openDocument('Pages/device.html')">Device</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-center"> Home - Server</h3>
                </div>
            </div>

        <div class="row my-3">

            <div class="col-sm-4 col-sm-offset-1 panel panel-default">
                <h3 class="text-center"> Platform information</h3>
                <div class="line"></div>
                <div id="server_platformName"></div>
                <h3 class="text-center"> Hardware information</h3>
                <div class="line"></div>
                <div id="serverFan_cpuTempInfo"></div>
                <div id="server_hardwareInfo"></div>
            </div>

            <div class="col-sm-4 col-sm-offset-1 panel panel-default">
                <h3 class="text-center"> Cooling fan</h3>
                <div class="line"></div>
                <div id="serverFan_running"></div>
                <div id="serverFan_setpoint"></div>
                <div id="serverFan_cpuTemp"></div>
                <div class="line"></div>
                <form id="serverFan_setpoint_update" class="form-signin" action="" method="">
                    <div id="serverFan_setpoint_update_text"></div>
                    <input id="serverFan_setpoint_update_value" type="text" class="form-control" placeholder="Setpoint value....">
                    <input type="submit" class="btn btn-lg btn-default btn-block" value="Update" />
                </form>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-1 panel panel-default">
                <h3 class="text-center"> Memory Information</h3>
                <div class="line"></div>
                <div id="server_memoryInfo"></div>
            </div>
        </div>


        <footer>
            <div id="footer_text"></div>
        </footer>


    </div> <!-- Page Content Holder -->
<!--</div>-->

<style>
    .col-centered{
    float: none;
    margin: 0 auto;
}
</style>



</body>
</html>
