<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Home</title>


    <script src="jquery/jquery-3.3.1.js"></script>
    <script src="bootstrap-4.1.3/js/bootstrap.js"></script>
    <!--<script src="js/plotly.js"></script>-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="bootstrap-4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">

</head>
<body>

        <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Home</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/index}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/server}">Server</a>
                    </li>
                </ul>
            </div>
        </nav>-->

        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Left</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="//codeply.com">Codeply</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto">
                    <img src="/image/home_logo.png" width="100" height="50" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Right</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
        </nav>



        <div class="row">

            <div class="col-lg-5 offset-lg-1 my-3">
                <div class="card force-overflow">
                    <div class="card-header">
                        <h3 class="text-center"> Platform information</h3>
                    </div>
                    <div class="line"></div>
                    <div id="server_platformName"></div>
                </div>
            </div>

            <div class="col-lg-5 my-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center"> Memory Information</h3>
                    </div>
                    <div class="card-body">
                        <div class="mx-auto" id="server_memoryInfo"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row my-3">

            <div class="col-md-6 offset-md-3">
                <div class="card mx-2">
                    <div class="card-header">
                        <h3 class="text-center"> Cooling fan</h3>
                    </div>
                        <div class="line"></div>
                        <div id="serverFan_running"></div>
                        <div id="serverFan_setpoint"></div>
                        <div id="serverFan_cpuTemp"></div>
                        <div class="line"></div>
                        <form class="mx-3" id="serverFan_setpoint_update" action="" method="">
                            <div id="serverFan_setpoint_update_text"></div>
                            <input id="serverFan_setpoint_update_value" type="text" class="form-control" placeholder="Setpoint value....">
                            <input type="submit" class="btn btn-lg btn-default btn-block" value="Update" />
                        </form>
                </div>
            </div>

        </div>







<script>





	$(document).ready(function(){
       	    Version_Text();
       	    getCPUInformation();
       	    getStorage();
       	});

	function Version_Text(){
	$.ajax({
		url: "/version",
		method: "GET",
		success: function(data) {
		    $('#version').empty();
		    $('#version').html(data);
		},
		error: function(data) {
			console.log(data);
			$('#version').empty();
		    $('#version').html(data);
		}
	});
};

function getCPUInformation(){
	$.ajax({
		url: "/server/cpuinformation",
		method: "GET",
		success: function(data) {
		    $('#server_platformName').empty();
		    var sData;
		    for(var i = 0; i < data.length; i++){
                if(i > 1){
                sData = sData + "<p>" + data[i] + "</p>";
                }
                else{
                sData = "<p>" + data[i] + "</p>";
                }
		    }
		    $('#server_platformName').html(sData);
		},
		error: function(data) {
			$('#server_platformName').empty();
		    var sData;
            for(var i = 0; i < data.length; i++){
                 if(i > 1){
                 sData = sData + "<p class=\"text-center text-danger\">" + data[i] + "</p>";
                 }
                 else{
                  sData = "<p class=\"text-center text-danger\">" + data[i] + "</p>";
                 }
            }
             $('#server_platformName').html(sData);
		}
	});
};

function getStorage(){
	$.ajax({
		url: "/server/storage",
		method: "GET",
		success: function(data) {
		    $('#server_memoryInfo').empty();

		    var filePlace = [];
		    var oneMBlocks = [];
		    var used = [];
		    var available = [];
		    var usePercentage = [];
		    var mountedOn = [];
		    for(var i = 1; i < data.length; i++){
		    var dataSplit = data[i].split(",");
		     filePlace.push(dataSplit[0]);
             oneMBlocks.push(dataSplit[1]);
             used.push(dataSplit[2]);
             available.push(dataSplit[3]);
             usePercentage.push(dataSplit[4]);
             mountedOn.push(dataSplit[5]);
		    }
            var tableValues = [
                          filePlace,
                          oneMBlocks,
                          used,
                          available,
                          usePercentage,
                          mountedOn]

                    var tableData = [{
                      type: 'table',
                      header: {
                        values: [
                        ["Filesystem"],
                        ["1M-blocks"],
                        ["Used"],
                        ["Available"],
                        ["Use(%)"],
                        ["Monted On"]
                        ],
                        align: "center",
                        line: {width: 1, color: 'black'},
                        fill: {color: "grey"},
                        font: {family: "Arial", size: 12, color: "white"}
                      },
                      cells: {
                        values: tableValues,
                        align: "center",
                        line: {color: "black", width: 1},
                        font: {family: "Arial", size: 11, color: ["black"]}
                      }
                    }]
                    Plotly.plot('server_memoryInfo', tableData, {}, {showSendToCloud: true});


		},
		error: function(data) {
			$('#server_memoryInfo').empty();
		    var sData;
            for(var i = 0; i < data.length; i++){
                 if(i > 1){
                 sData = sData + "<p class=\"text-center text-danger\">" + data[i] + "</p>";
                 }
                 else{
                  sData = "<p class=\"text-center text-danger\">" + data[i] + "</p>";
                 }
            }
             $('#server_memoryInfo').html(sData);
		}
	});
};




	$(document).ready(function(){
	   getServerFanRunning();
	   setInterval(getServerFanRunning, 1000);
	});

	function getServerFanRunning(){
	$.ajax({
		url: "/serverFan/output",
		method: "GET",
		success: function(data) {
		    $('#serverFan_running').empty();
		    if(data == "true"){
		    $('#serverFan_running').empty();
		    $('#serverFan_running').html("<img src=\"/image/fan_icon_on.png\" class=\"img-responsive mx-auto d-block\">");
		    }
		    else{
		    $('#serverFan_running').empty();
		    $('#serverFan_running').html("<img src=\"/image/fan_icon_off.png\" class=\"img-responsive mx-auto d-block\">");
		    }

		},
		error: function(e) {
			$('#serverFan_running').empty();
		    $('#serverFan_running').html(e.responseText);
		}
	});
};



	$(document).ready(function(){
	   getServerCPUTemp();
	   setInterval(getServerCPUTemp, 1000);
	});
	function getServerCPUTemp(){
     $.ajax({
     url: "/server/cputemperature",
     method: "GET",
     success: function(data) {
     $('#serverFan_cpuTemp').empty();
     $('#serverFan_cpuTemp').html("<h4 class=\"text-center\"> CPU temperature: " + data + " °C</h4>");
     },
     error: function(e) {
     $('#serverFan_cpuTemp').empty();
     $('#serverFan_cpuTemp').html(e.responseText);
     }
     });
     };



	$(document).ready(function(){
	   getServerFanSetpoint();
	});

	function getServerFanSetpoint(){
	$.ajax({
		url: "/serverFan/setpoint",
		method: "GET",
		success: function(data) {
		    $('#serverFan_setpoint').empty();
		    $('#serverFan_setpoint').html("<h4 class=\"text-center\"> Setpoint: " + data + " °C</h4>");
		},
		error: function(data) {
			console.log(data);
			$('#serverFan_setpoint').empty();
		    $('#serverFan_setpoint').html(data);
		}
	});
};



$( document ).ready(function() {

	// SUBMIT FORM
    $("#serverFan_setpoint_update").submit(function(event) {
		// Prevent the form from submitting via the browser.
		event.preventDefault();
		setServerFanSetpoint();
	});


    function setServerFanSetpoint(){
    	var formData = {
    		setpoint : $("#serverFan_setpoint_update_value").val(),
    	}
    	$.ajax({
			type : "POST",
			contentType : "application/json",
			url : "/serverfan/updateSetpoint",
			data : JSON.stringify(formData),
			success : function(result) {
				$("#serverFan_setpoint_update_text").html(result);
				getServerFanSetpoint();
			},
			error : function(e) {
			console.log(e);
	            $("#serverFan_setpoint_update_text").html(e.responseText);
			}
		});
    }
})






</script>



</body>
</html>
