<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Home - Sikthaugen</title>

    <!-- Bootstrap CSS CDN -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="jquery/jquery.js"></script>
    <link href="bootstrap/css/bootstrap.min-3.3.7.css" rel="stylesheet">

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/home.css">
    <script src="js/plotly.js"></script>
</head>
<body>



<!--<div class="wrapper">-->

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Home - Server <div id="version"></div></a>

                </div>


                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a th:href="@{/index}">Home</a></li>
                        <li class="nav-item"><a th:href="@{/devices}">Devices</a></li>
                    </ul>
                </div>
            </div>
        </nav>

            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-center"> Home - Server</h3>
                </div>
            </div>

        <div class="row my-3">

            <div class="col-sm-4 col-sm-offset-1 panel panel-default">
                <h3 class="text-center"> Platform information</h3>
                <div class="line"></div>
                <div id="server_platformName"></div>
                <h3 class="text-center"> Hardware information</h3>
                <div class="line"></div>
                <div id="serverFan_cpuTempInfo"></div>
                <div id="server_hardwareInfo"></div>
            </div>

            <div class="col-sm-4 col-sm-offset-1 panel panel-default">
                <h3 class="text-center"> Cooling fan</h3>
                <div class="line"></div>
                <div id="serverFan_running"></div>
                <div id="serverFan_setpoint"></div>
                <div id="serverFan_cpuTemp"></div>
                <div class="line"></div>
                <form id="serverFan_setpoint_update" class="form-signin" action="" method="">
                    <div id="serverFan_setpoint_update_text"></div>
                    <input id="serverFan_setpoint_update_value" type="text" class="form-control" placeholder="Setpoint value....">
                    <input type="submit" class="btn btn-lg btn-default btn-block" value="Update" />
                </form>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 panel panel-default">
                <h3 class="text-center"> Memory Information</h3>
                <div class="line"></div>
                <div id="server_memoryInfo"></div>
            </div>
        </div>


        <footer>
            <div id="footer_text"></div>
        </footer>


    </div> <!-- Page Content Holder -->
<!--</div>-->

<style>
    .col-centered{
    float: none;
    margin: 0 auto;
}
</style>


<script>





	$(document).ready(function(){
       	    Version_Text();
       	    getCPUInformation();
       	    getStorage();
       	});

	function Version_Text(){
	$.ajax({
		url: "/version",
		method: "GET",
		success: function(data) {
		    $('#version').empty();
		    $('#version').html(data);
		},
		error: function(data) {
			console.log(data);
			$('#version').empty();
		    $('#version').html(data);
		}
	});
};

function getCPUInformation(){
	$.ajax({
		url: "/server/cpuinformation",
		method: "GET",
		success: function(data) {
		    $('#server_platformName').empty();
		    var sData;
		    for(var i = 0; i < data.length; i++){
                if(i > 1){
                sData = sData + "<p>" + data[i] + "</p>";
                }
                else{
                sData = "<p>" + data[i] + "</p>";
                }
		    }
		    $('#server_platformName').html(sData);
		},
		error: function(data) {
			$('#server_platformName').empty();
		    var sData;
            for(var i = 0; i < data.length; i++){
                 if(i > 1){
                 sData = sData + "<p class=\"text-center text-danger\">" + data[i] + "</p>";
                 }
                 else{
                  sData = "<p class=\"text-center text-danger\">" + data[i] + "</p>";
                 }
            }
             $('#server_platformName').html(sData);
		}
	});
};

function getStorage(){
	$.ajax({
		url: "/server/storage",
		method: "GET",
		success: function(data) {
		    $('#server_memoryInfo').empty();

		    var filePlace = [];
		    var oneMBlocks = [];
		    var used = [];
		    var available = [];
		    var usePercentage = [];
		    var mountedOn = [];
		    for(var i = 1; i < data.length; i++){
		    var dataSplit = data[i].split(",");
		     filePlace.push(dataSplit[0]);
             oneMBlocks.push(dataSplit[1]);
             used.push(dataSplit[2]);
             available.push(dataSplit[3]);
             usePercentage.push(dataSplit[4]);
             mountedOn.push(dataSplit[5]);
		    }
            var tableValues = [
                          filePlace,
                          oneMBlocks,
                          used,
                          available,
                          usePercentage,
                          mountedOn]

                    var tableData = [{
                      type: 'table',
                      header: {
                        values: [
                        ["Filesystem"],
                        ["1M-blocks"],
                        ["Used"],
                        ["Available"],
                        ["Use(%)"],
                        ["Monted On"]
                        ],
                        align: "center",
                        line: {width: 1, color: 'black'},
                        fill: {color: "grey"},
                        font: {family: "Arial", size: 12, color: "white"}
                      },
                      cells: {
                        values: tableValues,
                        align: "center",
                        line: {color: "black", width: 1},
                        font: {family: "Arial", size: 11, color: ["black"]}
                      }
                    }]
                    $('#server_memoryInfo').empty();
                    Plotly.plot('server_memoryInfo', tableData);

                //$('#server_memoryInfo').append("<p>" + data[i] + "</p>");


		},
		error: function(data) {
			$('#server_memoryInfo').empty();
		    var sData;
            for(var i = 0; i < data.length; i++){
                 if(i > 1){
                 sData = sData + "<p class=\"text-center text-danger\">" + data[i] + "</p>";
                 }
                 else{
                  sData = "<p class=\"text-center text-danger\">" + data[i] + "</p>";
                 }
            }
             $('#server_memoryInfo').html(sData);
		}
	});
};




	$(document).ready(function(){
	   //getServerFanRunning();
	   //setInterval(getServerFanRunning, 1000);
	});

	function getServerFanRunning(){
	$.ajax({
		url: "/serverFan/output",
		method: "GET",
		success: function(data) {
		    $('#serverFan_running').empty();
		    if(data == "true"){
		    $('#serverFan_running').empty();
		    $('#serverFan_running').html("<img src=\"/image/fan_icon_on.png\" class=\"img-responsive center-block\">");
		    }
		    else{
		    $('#serverFan_running').empty();
		    $('#serverFan_running').html("<img src=\"/image/fan_icon_off.png\" class=\"img-responsive center-block\">");
		    }

		},
		error: function(e) {
			$('#serverFan_running').empty();
		    $('#serverFan_running').html(e.responseText);
		}
	});
};



	$(document).ready(function(){
	   //getServerCPUTemp();
	   //setInterval(getServerCPUTemp, 1000);
	});
	function getServerCPUTemp(){
     $.ajax({
     url: "/server/cputemperature",
     method: "GET",
     success: function(data) {
     $('#serverFan_cpuTemp').empty();
     $('#serverFan_cpuTemp').html("<h4 class=\"text-center\"> CPU temperature: " + data + " °C</h4>");
     $('#serverFan_cpuTempInfo').empty();
     $('#serverFan_cpuTempInfo').html("<p class=\"text-center\"> CPU temperature: " + data + " °C</p>");
     },
     error: function(e) {
     $('#serverFan_cpuTemp').empty();
     $('#serverFan_cpuTemp').html(e.responseText);
     }
     });
     };



	$(document).ready(function(){
	  // getServerFanSetpoint();
	});

	function getServerFanSetpoint(){
	$.ajax({
		url: "/serverFan/setpoint",
		method: "GET",
		success: function(data) {
		    $('#serverFan_setpoint').empty();
		    $('#serverFan_setpoint').html("<h4 class=\"text-center\"> Setpoint: " + data + " °C</h4>");
		},
		error: function(data) {
			console.log(data);
			$('#serverFan_setpoint').empty();
		    $('#serverFan_setpoint').html(data);
		}
	});
};



$( document ).ready(function() {

	// SUBMIT FORM
    $("#serverFan_setpoint_update").submit(function(event) {
		// Prevent the form from submitting via the browser.
		event.preventDefault();
		setServerFanSetpoint();
	});


    function setServerFanSetpoint(){
    	var formData = {
    		setpoint : $("#serverFan_setpoint_update_value").val(),
    	}
    	$.ajax({
			type : "POST",
			contentType : "application/json",
			url : "/serverfan/updateSetpoint",
			data : JSON.stringify(formData),
			success : function(result) {
				$("#serverFan_setpoint_update_text").html(result);
				getServerFanSetpoint();
			},
			error : function(e) {
			console.log(e);
	            $("#serverFan_setpoint_update_text").html(e.responseText);
			}
		});
    }
})






</script>



</body>
</html>
